<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vvpcollege.vvp.placementappfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plassy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plassy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Register" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.SpinnerClass" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Prefrence" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Login" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Home" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Company" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.ForgotPassword" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.AllCompany" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.AppliedList" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Passcode" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.FacultyHome" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.AddCompany" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Faculty_student_search" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.Faculty_student_company" />
        <activity
            android:name="com.vvpcollege.vvp.placementappfinal.about_us"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.custom" />
        <activity android:name="com.vvpcollege.vvp.placementappfinal.CompanyAppliedList" />

        <service android:name="com.vvpcollege.vvp.placementappfinal.service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.vvpcollege.vvp.placementappfinal.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.vvpcollege.vvp.placementappfinal.Notty"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vvpcollege.vvp.placementappfinal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>